.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100vw;
  /* background-color: red; */
}

.login-element {
  height: 500px;
  width: 400px;
  background-color: var(--lightgrey);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-header {
  margin-bottom: 20px;
}