.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  padding: 20px var(--horizontal-margin);
  background-color: var(--grey);
}

.navbar-right-container {
  display: flex;
  flex-direction: row;
}

.navbar-link {
  color: var(--white);
}

.navbar-link:hover {
  color: var(--red);
}

.navbar-right {
  margin-left: 20px;
}