body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--lightgrey);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* overwrite defaults */
a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
}

/* global variables */
:root {
  --horizontal-margin: 80px;
  --red: #EC483F;
  --black: black;
  --white: white;
  --lightgrey: #F3F3F3;
  --grey: #2E2E2E;
}